@import url(header.css);
@import url(intro.css);
@import url(project.css);
@import url(services.css);
@import url(contacts.css);
@import url(footer.css);
@import url(gallery.css);
@import url(about-us.css);
@import url(reviews.css);
@import url(headings.css);
@import url(buttons.css);

html {
  max-width: 1400px;
  scroll-behavior: smooth;
}

.main {
  background-color: #fff;
}
body {
  max-width: 1400px;
  font-family: "Manrope", sans-serif;
  background-color: #f5f5f5;
}

.container-black {
  color: #fff;
  background-color: #121212;
}
/* КОМУ ЗАДАТЬ ТЕПЕРЬ ШИРИНУ 1400???? */

section,
.container {
  margin: 0 auto;
  width: 1150px;
}

section {
  padding-top: 150px;
}

section:nth-child(1) {
  padding-top: 70px;
}

.section-long {
  padding-bottom: 150px;
}

.container-black {
  padding-top: 80px;
  color: #fff;
  background-color: #121212;
}

.section__full {
  width: 100%;
}
.section__nopad {
  padding: 0;
}

.section-footer {
  margin: 0 auto;
  padding: 60px 0 30px 0;
  max-width: 1400px;
  background-color: black;
}
/* планшеты */
@media (max-width: 1199px) {
  .container {
    width: 100%;
  }

  .section-long {
    padding-bottom: 120px;
  }
  .section-long:last-child {
    padding-bottom: 80px;
  }

  .section-reviews {
    padding: 120px 15px 120px 15px;
  }

  section {
    width: 100%;
    padding: 120px 15px 0 17px;
  }

  .section-footer {
    width: 100%;
    padding: 60px 0 30px 0;
  }
}
@media (max-width: 767px) {
  header {
    max-width: 350px;
  }
  .menu__logo {
    width: 96px;
    height: 16px;
  }
  section {
    padding: 80px 12px 0 13px;
  }

  section:first-child {
    padding-top: 61px;
  }

  .section-long {
    padding-bottom: 80px;
  }

.container-black{
  padding-top:19px;
}

  .section-reviews {
    padding: 80px 13px 80px 13px;
  }

  .section-footer {
    padding: 30px 0 26px 0;
  }

  h1 {
    color: #121212;
    font-size: 30px;
    line-height: 31.621px;
    letter-spacing: -0.9px;
  }

  h2 {
    font-size: 14px;
    margin-bottom: 20px;
  }
}

@media (max-width: 400px) {
}
